body{
  margin:0;
  padding: 0;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 100%);
}
a{
  text-decoration: none;
  color: inherit;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.hidden{
  display: none;
}
.head{
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button{
  display: none;
  
}
.close-button{
  display: none;
  
}
.site{
  display: flex;
  justify-content: center;
  cursor: pointer;
  
}
.site-logo{
  width: 35px;
  border-radius: 50px;
  margin-right:10px;
}
.site-name{
  font-size: 25px;
  font-weight: 900;
  font-family: Calibri;
  
}
.menu-list-ul{
  list-style: none;
  

}
.menu-list-items{
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  font-weight: 600;
  font-family: Tahoma;
  
}
.menu-list-items:hover{
  transition-duration: 0.3s;
  opacity: 0.4;
}
.search{
  cursor: pointer;
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.post-1{
  width: 100%;
  height: 468px;
  cursor: pointer;
  border-radius: 15px;
  transition-property: background-size;
  transition-duration: 0.5s;
  color: white;
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0px 0px 30px lightgrey;
  margin-bottom: 10px;
}
.post-1:hover{
  background-size: 105% auto !important;
  transition-property: background-size;
  transition-duration: 0.5s;
}
.darker{
  background-color:rgba(0, 0, 0, 0.3);
  height: inherit;
  border-radius: 15px;
  display: flex;flex-direction: column;justify-content: flex-end;
  transition-duration: 0.5s;
  transition-property: background-color;
}
.darker:hover{
  background-color:rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;
}
.post-text{
  padding: 3% 5%;
}
.content-name-1{
  font-size: 35px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
.post-2{
  width: 49.5%;
  height: 360px;
  cursor: pointer;
  border-radius: 15px;
  transition-property: background-size;
  transition-duration: 0.5s;
  color: white;
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0px 0px 30px lightgrey;
  margin-bottom: 10px;
}
div.post-2:hover{
  background-size: 105% auto !important;
  transition-property: background-size;
  transition-duration: 0.5s;
}
.content-name-2{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
.post-3{
  width: 33%;
  height: 468px;
  cursor: pointer;
  border-radius: 15px;
  transition-property: background-size;
  transition-duration: 0.5s;
  color: white;
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0px 0px 30px lightgrey;
  margin-bottom: 10px;
}
div.post-3:hover{
  background-size: auto 105% !important;
  transition-property: background-size;
  transition-duration: 0.5s;
}
.content-name-3{
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
}
.for-more{
  width: 100%;
  text-align: center;
  margin:50px 0;
  cursor: pointer;
}
.more-text{
  margin-bottom: 10px;
  font-family: Calibri;
  font-size: 18px;
}
.footer-section{
  background-color: rgb(255,255,255);
}
.footer{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social{
  width: 25%;
}
.site-name-2{
  font-size: 40px;
  font-weight: bold;
  font-family: Calibri;
  margin-bottom: 18px;
}
.tell-about{
  font-size: 20px;
  color: rgb(70, 70, 70);
  font-weight: bold;
  margin-bottom: 15px;
}
.footer-social{
  display: flex;
  justify-content: space-between;
}
.project ul{
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}
.project ul li{
  margin-bottom: 10px;
}
.project-name{
  color: rgb(90, 90, 90);
}
.project-items{
  color: black;
  transition-duration: 0.3s;
}
.project-items:hover{
  color: rgb(150, 150, 150);
  transition-property: color;
  transition-duration: 0.3s;
}
.smartphone{
  background: url(img/footer-phone-mask.png) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 300px;
  padding: 20px 50px 0 50px;
}
.status-bar{
  display: flex;
  justify-content: space-between;
  margin: 0px 15px 0px 20px;
}
.status-bar-time{ font-size: 12px; }
.status-bar-battery{
  background: url(img/footer-phone-bar.svg) no-repeat 100%;
  width: 60px;height: 15px;
}
.lenta{
  
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 0px 20px;
}
.lenta-name{
  font-size: 25px;
  font-weight: bold;
}
.user-icon{
  background: url(img/footer-phone-userpic.jpg) no-repeat;
  background-size: 100% 100%;
  height: 40px; width: 40px;
  border-radius: 50px;
}
.divider{
  border-bottom:1px solid lightgrey;
  margin: 10px 15px 0px 20px;
}
.smartphone-news{
  margin: 10px 15px 0px 20px;
  background: url(img/25_galaxyzflip3_5g_cream_galaxywatch4_silver_galaxybuds2_white.jpg) no-repeat;
  background-size: auto 100%;
  height:198px;width: 265px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.mobile-content-inf{
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 5px;
}
.mobile-content-name{
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin: 5px 10px;
}
@media screen and (max-width: 600px) {
  .second-wrap{ width: 100%; }
}
@media screen and (max-width: 1025px) {
  .menu-list{ display: none; }
  .button{ display: inline; }
  .first-wrap{ width: 100%; }
  .first-wrap-2{ width: 49.5%; }
}
@media screen and (max-width:1200px) {
  .head{ margin-left: 10px; margin-right: 10px; }
  .main{ margin-left: 10px; margin-right: 10px; }
  .footer{ margin-left: 10px; margin-right: 10px; }
}

